<a href="https://colab.research.google.com/github/NUskim10/ComputerVision/blob/main/Lab_1_getting_started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Getting started

** This is bold**

*This is italic text*

<u> underlined text</u>

plain text with list
 1. plain 1
 1. plain 2
 1. plain 3

In [ ]:
print('Hello World!!')

Hello World!!

In [ ]:
# calculate 2 to the 20th power
answer = 2**20
print('2 to the 20th power is :',answer)

2 to the 20th power is : 1048576

In [1]:
# add up all the numbers from 1 to 1000 and print the result

# solution 1
answer = 0
for i in range(1001):
  answer+=i
print('solution 1:' ,answer)

# solution 2
n = 1000
result = (n/2)*(n+1)
print('solution 2:',result)

solution 1: 500500
solution 2: 500500.0

In [ ]:
# create a for loop that prints something 5 times

for i in range(5):
  print('Algorithms and Data Struct',i+1)

Algorithms and Data Struct 1
Algorithms and Data Struct 2
Algorithms and Data Struct 3
Algorithms and Data Struct 4
Algorithms and Data Struct 5

In [ ]:
def double(n):
  result = n*2
  return result

ask = int(input('Input a number'))
double(ask)

Input a number2

4